@page "/taskgrid"

<h3>Lista de Tarefas</h3>




@code {
    // Tarefa tarefa = new Tarefa();
    // List<Tarefa> tarefas = new List<Tarefa>();


    //Método Get para recuperar as tarefas do banco de dados
    protected async Task GetTarefas()
    {
        //
    }
}
